
/* reset */
* {margin: 0 auto;
    padding: 0;
    text-decoration: none;
    color: #223222;
    font-family:"맑은 고딕" ,sans-serif;
    list-style: none;
}

body {
    width: 90%;
    font-size: 20px;
    background: #fff;

}

/* common */
.clearfix::after{
    content: '';
    display: block;
    clear: both;    
}

/* header 영역 */
header .top{
    width: 100%;
    margin-top: 15px;
    padding: 20px 0;
    height: 100px;
    position: relative;
    /* background: green; */
     
}

header .top .logo{
    float: left;
    width: 30%;
    height: 70px;
    padding-left: 15px;
    /* margin-top: 15px; */
    box-sizing: border-box;
    /* height: 100%; */
    /* background: orange; */
    /* margin-right: 20px; */
}
header .top .logo img{
    height: 70px;
    
    

}

header .top .menu {
    float: right;
    width: 70%;
    height: 70px;
    font-weight: 700;
    font-size: 24px;
    background: rgb(126, 6, 116);
    
    /* display: block;     */
    
}
header .top .menu .navi {
    width: 100%;
    /* margin-right: 30px; */

}

header .top .menu .navi li{

    float: left;
    text-align: center;
    line-height: 70px;
    width:25%;

}
header .top .menu .navi li a{
    color: white;
    display: block;
    width: 100%;
    
    
}

header .top .menu .navi li a:hover{
    
    background: tomato;
}

.bodywrap{
    
    
}
.bodywrap img{
    width: 100%;
}
.bodywrap .imgslide{
    

}
.bodywrap .imgslide .imgtext{
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    width: 600px;
    height: 70px;
    line-height: 70px;
    text-align: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}

.contents{
    width: 30%;
    font-size: 20px;
    /* background: orange; */
    float: left;
}

    
.contents .tabmenu > li  {
    /* border: 2px solid gray; */
    text-align: center;
    float: left;
    width:80px;
    
    padding: 5px 5px; 
    /* width: 30%; */
    /* float: left; */
    /* box-sizing: border-box; */
}
.contents .tabmenu .notice {
    /* background: orange; */
    border: 1px solid gray;
    width: 450px;
    text-align: left;
    padding: 5px 5px;
    line-height: 40px;
        
}
.contents .tabmenu .notice li a{
    /* border: 1px solid #000; */
}

.contents .tabmenu .notice li:nth-child(even){
    background: #ccc;
}
.contents .tabmenu .notice span{
    float: right;
}
.contents .tabmenu .active{
     /* border: 1px solid #000; */
    
}
.otherwrap{
    /* background: orange; */

    
    
}

.otherwrap .banner {
    background: orange;
    float: left;
    
    
}




